@keyframes slideLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes glitch_4011 {
	0% {
		clip-path: var(--move1);
		transform: translate(0px, -10px);
	}

	10% {
		clip-path: var(--move2);
		transform: translate(-10px, 10px);
	}

	20% {
		clip-path: var(--move3);
		transform: translate(10px, 0px);
	}

	30% {
		clip-path: var(--move4);
		transform: translate(-10px, 10px);
	}

	40% {
		clip-path: var(--move5);
		transform: translate(10px, -10px);
	}

	50% {
		clip-path: var(--move6);
		transform: translate(-10px, 10px);
	}

	60% {
		clip-path: var(--move1);
		transform: translate(10px, -10px);
	}

	70% {
		clip-path: var(--move3);
		transform: translate(-10px, 10px);
	}

	80% {
		clip-path: var(--move2);
		transform: translate(10px, -10px);
	}

	90% {
		clip-path: var(--move4);
		transform: translate(-10px, 10px);
	}

	100% {
		clip-path: var(--move1);
		transform: translate(0);
	}
}
